{% extends 'base.html' %}

{% block titulo %} Eliminar {% endblock %}

{% block content %}
<h2>¿Estás seguro de que deseas eliminar este cliente?</h2>

<div>
    <p>Nombre: {{ object.nombre }}</p> 
    <p>CURP: {{ object.curp }}</p>
    <p>NSS: {{ object.nss }}</p>
    <p>Vendedor: {{ object.vendedor }}</p>
</div>


<div class="alert alert-warning" role="alert">
    Al eliminar un cliente, se borrarán todos sus datos y las relaciones con el vendedor asignado.
</div>

<form method="post">
    {% csrf_token %}
    
    <button type="submit" class="btn btn-danger">Eliminar Cliente</button>
    <a name="" id="" class="btn btn-primary" href="{% url 'clientes' %}" role="button">Cancelar</a>
</form>
{% endblock %}



