<!-- templates/clientes/eliminar_cliente.html -->
{% extends 'base.html' %}

{% block titulo %} Home {% endblock %}

{% block content %}
<h2>¿Estás seguro de que deseas eliminar este cliente?</h2>

<div>
    <p>Nombre: {{ object.nombre }}</p>
    <p>Apellido Paterno: {{ object.apellido_paterno }}</p>
    <p>Apellido Materno: {{ object.apellido_materno }}</p>  
    <p>CURP: {{ object.curp }}</p>
    <p>NSS: {{ object.nss }}</p>
</div>


<div class="alert alert-warning" role="alert">
    Al eliminar un cliente, se borrarán todos sus datos y las relaciones con otros objetos en la base de datos.
</div>

<form method="post">
    {% csrf_token %}
    
    <button type="submit" class="btn btn-danger">Eliminar Cliente</button>
    <a name="" id="" class="btn btn-primary" href="{% url 'clientes' %}" role="button">Cancelar</a>
</form>
{% endblock %}



