{% extends 'base.html' %}

{% block titulo %}
Clientes
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <h2 class="mb-4">Lista de Clientes</h2>
        <!-- Tabla principal (lado izquierdo) -->
        <div id="contPrin">
            <div class="card w-100">
                <div class="card-header bg-dark text-light">
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- Formulario de búsqueda -->
                    <form method="GET" action="{% url 'clientes' %}" class="d-flex mt-3" role="search" id="searchForm">
                        <input 
                            class="form-control me-2" 
                            type="search" 
                            placeholder="Buscar clientes..." 
                            name="search" 
                            aria-label="Search" 
                            value="{{ request.GET.search|default:'' }}"
                            id="searchInput"
                            autocomplete="off">
                        <button class="btn btn-light" type="submit">
                            <div id="btnBuscar">
                                <p class="mx-1">Buscar</p>
                                <i class="fa-solid fa-magnifying-glass mx-1"></i>
                            </div>
                        </button>
                    </form>
                </div>

                <!-- Opciones de ordenación -->
                <div class="card-header bg-dark text-light">
                    <div class="ordenar-opciones">
                        <a href="?orden=nombre{% if search_term %}&search={{ search_term }}{% endif %}" class="btn btn-outline-light btn-sm">
                            Ordenar por Nombre
                        </a>
                        <a href="?orden=id{% if search_term %}&search={{ search_term }}{% endif %}" class="btn btn-outline-light btn-sm">
                            Ordenar por ID
                        </a>
                    </div>
                </div>

                <!-- Cuerpo de la tabla -->
                <div class="card-body bg-dark bordBLR">
                    <div class="table-responsive padb">
                        <table class="table table-sm table-dark align-middle table-hover table-striped table-bordered border-ligth">
                            <thead class="align-middle">
                                <tr class="text-nowrap">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>CURP</th>
                                    <th>NSS</th>
                                    <th>Tel</th>
                                    <th>Vendedor</th>
                                    <th>Cambio de AFORE</th>
                                    {% if user.is_authenticated and user.userrole.role == 'gerente' %}
                                        <th>Acciones</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for cliente in clientes %}
                                    <tr>
                                        <td>{{ cliente.id }}</td>
                                        <td>{{ cliente.nombre }}</td>
                                        <td>{{ cliente.curp }}</td>
                                        <td>{{ cliente.nss }}</td>
                                        <td>{{ cliente.get_telefonos_display|safe }}</td>
                                        <td>{{ cliente.vendedor }}</td>
                                        <td class="{% if cliente.cambio_de_afore == 'pendiente' %}text-warning{% endif %}">
                                            {{ cliente.get_cambio_de_afore_display }}
                                        </td>

                                        <!-- <td>
                                            {% if cliente.fotografia %}
                                                <img src="{{ cliente.fotografia.url }}" 
                                                     height="50" 
                                                     class="thumbnail" 
                                                     onclick="mostrarImagen(this.src)"
                                                     loading="lazy">
                                            {% else %}
                                                Sin fotografía
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if cliente.foto_aval %}
                                                <img src="{{ cliente.foto_aval.url }}" 
                                                     height="50" 
                                                     class="thumbnail" 
                                                     onclick="mostrarImagen(this.src)"
                                                     loading="lazy">
                                            {% else %}
                                                Sin aval
                                            {% endif %}
                                        </td> -->

                                        
                                            <td class="align-middle">
                                                <div class="d-flex flex-row justify-content-center">
                                                    {% if user.is_authenticated and user.userrole.role == 'gerente' %}
                                                        <a class="btn btn-sm btn-info m-1" href="{% url 'editar' cliente.id %}">Editar</a>
                                                        <a class="btn btn-sm btn-danger m-1" href="{% url 'eliminar' cliente.id %}">Eliminar</a>
                                                    {% endif %}

                                                    <a href="#detalle-cliente" type="button" class="btn btn-sm btncen btn-light btn-mostrar m-1" data-id="{{ cliente.id }}">
                                                        <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                                                    </a>
                                                </div>
                                            </td>   
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>   
                    </div>

                    {% if page_obj.paginator.num_pages > 1 %}
                    <nav aria-label="Navegación de páginas" class="mt-4">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link text-dark" href="?page=1{% if search_term %}&search={{ search_term }}{% endif %}{% if orden %}&orden={{ orden }}{% endif %}">&laquo; Primera</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}{% if search_term %}&search={{ search_term }}{% endif %}{% if orden %}&orden={{ orden }}{% endif %}">Anterior</a>
                                </li>
                            {% endif %}
                    
                            <li class="page-item active">
                                <span class="page-link bg-dark border-dark">
                                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                                </span>
                            </li>
                    
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}{% if search_term %}&search={{ search_term }}{% endif %}{% if orden %}&orden={{ orden }}{% endif %}">Siguiente</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}{% if search_term %}&search={{ search_term }}{% endif %}{% if orden %}&orden={{ orden }}{% endif %}">Última &raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}

                    <!-- Botón para agregar un nuevo cliente -->
                    {% if user.is_authenticated and user.userrole.role == 'gerente' or user.userrole.role == 'administrador' %}
                        <div class="mt-3">
                            <a class="btn btn-success" href="{% url 'agregar' %}">Agregar un Cliente</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div id="detalle-cliente" class="" style="display: none;">
                {% include 'clientes/informacion_cliente.html' %}
            </div>
            
        </div>

        <!-- Información detallada (lado derecho) -->
        
    </div>
</div>

<!-- Modal para imagen ampliada -->
<div id="imagen-ampliada" class="imagen-ampliada" onclick="cerrarImagen()">
    <div class="imagen-contenedor">
        <button class="btn-cerrar" onclick="cerrarImagen()">×</button>
        <img id="imagen-grande" src="" alt="Imagen ampliada">
        <div class="controles">
            <button class="btn-navegacion btn-prev" onclick="navegarImagen(-1)">&#10094;</button>
            <button class="btn-navegacion btn-next" onclick="navegarImagen(1)">&#10095;</button>
        </div>
    </div>
</div>

{% endblock %}
