<!-- vendedores/agregar_editar_pago.html -->

{% extends 'base.html' %}

{% block titulo %}Agregar/Editar Pago{% endblock %}

{% block content %}

<div class="d-flex justify-content-center w-100">
    <div class="card bg-dark text-light widthRF mb-3">
        <div class="card-header">
            <h2>Agregar/Editar Pago</h2>
            <h3>{{ cliente.nombre }}</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-primary" href="{% url 'pagos' %}?vendedor={{ vendedor_id|default:'' }}" role="button">Cancelar</a>
            </form>
        </div>
    </div>
</div>    
{% endblock %}