{% extends 'base.html' %}
{% load static %}

{% block titulo %}Pagos{% endblock %}

{% block content %}
    <h1>Pagos por Vendedor</h1>
    
    <form method="get" action="{% url 'pagos' %}">
        <label for="vendedor">Selecciona un Vendedor:</label>
        <select name="vendedor" id="vendedor">
            <option value="">-- Selecciona un vendedor --</option>
            {% for vendedor in vendedores %}
                <option value="{{ vendedor.id }}" {% if vendedor_seleccionado.id == vendedor.id %}selected{% endif %}>
                    {{ vendedor.nombre }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Ver Clientes</button>

        <!-- Botón para abrir el modal de vendedores -->
        <button type="button" data-bs-toggle="modal" data-bs-target="#vendedorModal">
            Ver Vendedores
        </button>

    </form>
    
    {% if vendedor_seleccionado %}
        <h2>Vendedor: {{ vendedor_seleccionado.nombre }}</h2>
        
        {% for semana, clientes in pagos_por_semana.items %}
            <h3>Semana {{ semana }}</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre del Cliente</th>
                        <th>Fecha de Firma</th>
                        <th>46 Días</th>
                        <th>Observaciones</th>
                        <th>Fecha de Pago</th>
                        <th>Cancelación</th>
                        <th>Cantidad</th>
                        <th>Porcentaje</th>
                        <th>Anticipo</th>
                        {% if user.is_authenticated and user.userrole.role == 'gerente' or user.userrole.role == 'administrador' %}
                            <th>Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in clientes %}
                        <tr>
                            <td>{{ item.cliente.nombre }}</td>
                            <td>{{ item.cliente.fecha_de_firma|date:"d-M-y" }}</td>
                            <td>{{ item.cliente.fecha_para_capturar_retiro }}</td>
                            <td>{{ item.pago.observaciones|default:"-" }}</td>
                            <td>{{ item.pago.fecha_de_pago|date:"d-M-y" }}</td>
                            <td>{{ item.pago.cancelacion|default:"-" }}</td>
                            <td>{{ item.pago.cantidad|default:"-" }}</td>
                            <td>{{ item.pago.porcentaje|default:"-" }}%</td>
                            <td>{{ item.pago.anticipo|default:"-" }}</td>
                            {% if user.is_authenticated and user.userrole.role == 'gerente' or user.userrole.role == 'administrador' %}
                                <td>
                                    <a href="{% url 'agregar_editar_pago' cliente_id=item.cliente.id vendedor_id=vendedor_seleccionado.id %}" class="btn btn-primary">
                                        Agregar o Editar Pagos
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>Selecciona un vendedor para ver los clientes.</p>
    {% endif %}

    <!-- Modal para mostrar la tabla de vendedores -->
    <div class="modal fade" id="vendedorModal" tabindex="-1" aria-labelledby="vendedorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="vendedorModalLabel">Lista de Vendedores</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'vendedores/vendedor_modal_content.html' %}
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const vendedorModal = document.getElementById('vendedorModal');
        
        vendedorModal.addEventListener('click', function(e) {
            if (e.target.classList.contains('vendedor-page-link')) {
                e.preventDefault();
                const page = e.target.getAttribute('data-page');
                fetch(`?vendedor_page=${page}`, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.text())
                .then(html => {
                    vendedorModal.querySelector('.modal-body').innerHTML = html;
                });
            }
        });
    });
    </script>
{% endblock %}