{% extends 'base.html' %}
{% load static %}

{% block titulo %}Pagos{% endblock %}

{% block content %}
    <div class="card-head-clientes">
        <h1>Pagos</h1>
        <form class="d-flex flex-row p-2 gap-2 align-items-center" method="get" action="{% url 'pagos' %}">
            <select class="form-select form-select-sm" name="vendedor" id="vendedor">
                <option value="">-- Selecciona un vendedor --</option>
                {% for vendedor in vendedores %}
                    <option value="{{ vendedor.id }}" {% if vendedor_seleccionado.id == vendedor.id %}selected{% endif %}>
                        {{ vendedor.nombre }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn btn-dark text-nowrap" type="submit">Ver Clientes</button>

            <!-- Botón para abrir el modal de vendedores -->
            <button class="btn btn-dark text-nowrap" type="button" data-bs-toggle="modal" data-bs-target="#vendedorModal">
                Ver Vendedores
            </button>
        </form>
    </div>
    <!--Mensaje error-->
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %} 
    
    <!--Tabla clientes-->
    <div class="card">
        {% if vendedor_seleccionado %}
            <div class="card-header bg-dark text-light">
                <h2>Vendedor: {{ vendedor_seleccionado.nombre }}</h2>
            </div>
            <div class="card-body bg-dark bordBLR">
                {% for clave, datos in pagos_por_semana.items %}
                    {% if datos.clientes %}
                        <h3 class="text-light">Semana {{ datos.semana }} : <br/> {{ datos.fecha_inicio|date:"d \d\e M"|upper }} AL {{ datos.fecha_fin|date:"d \d\e M"|upper }} DEL {{ datos.año }}</h3>
                    {% else %}
                        <h3 class="text-light">Semana {{ datos.semana }} : del {{ datos.año }} (sin clientes)</h3>
                    {% endif %}
                    <div class="table-responsive">

                        <table class="table table-sm table-dark align-middle table-hover table-striped">
                            <thead class="align-middle">
                                <tr>
                                    <th>Nombre del Cliente</th>
                                    <th>Fecha de Firma</th>
                                    <th>46 Días</th>
                                    <th>Observaciones</th>
                                    <th>Fecha de Pago</th>
                                    <th>Cancelación</th>
                                    <th>Cantidad</th>
                                    <th>Porcentaje</th>
                                    <th>Anticipo</th>
                                    {% if user.is_authenticated and user.userrole.role == 'gerente'%}
                                        <th>Acciones</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for item in datos.clientes %}
                                    <tr>
                                        <td>{{ item.cliente.nombre }}</td>
                                        <td>{{ item.cliente.fecha_de_firma|date:"d-M-y" }}</td>
                                        <td>{{ item.pago.F46dias|default:"-" }}</td>
                                        <td>{{ item.pago.observaciones|default:"-" }}</td>
                                        <td>{{ item.pago.fecha_de_pago|date:"d-M-y" }}</td>
                                        <td>{{ item.pago.cancelacion|default:"-" }}</td>
                                        <td>{{ item.pago.cantidad|default:"-" }}</td>
                                        <td>{{ item.pago.porcentaje|default:"-" }}%</td>
                                        <td>{{ item.pago.anticipo|default:"-" }}</td>
                                        {% if user.is_authenticated and user.userrole.role == 'gerente' %}
                                            <div>
                                                <td class="align-middle">
                                                    <a href="{% url 'agregar_editar_pago' cliente_id=item.cliente.id vendedor_id=vendedor_seleccionado.id %}" class="btn btn-primary btncen text-nowrap">
                                                        Agregar<br/>Editar Pagos
                                                    </a>
                                                </td>
                                            </div>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr class="border border-light border-3 opacity-75">
                {% endfor %}
            </div>
            
        {% else %}
            <div class="card-body text-bg-dark text-center bordesC">
                <p class="m-0">Selecciona un vendedor para ver los clientes.</p>
            </div>
        {% endif %}
    </div>

    <!-- Modal para mostrar la tabla de vendedores -->
    <div class="modal fade" id="vendedorModal" tabindex="-1" aria-labelledby="vendedorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="vendedorModalLabel">Lista de Vendedores</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'vendedores/vendedor_modal_content.html' %}
                </div>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const vendedorModal = document.getElementById('vendedorModal');
        
        vendedorModal.addEventListener('click', function(e) {
            if (e.target.classList.contains('vendedor-page-link')) {
                e.preventDefault();
                const page = e.target.getAttribute('data-page');
                fetch(`?vendedor_page=${page}`, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.text())
                .then(html => {
                    vendedorModal.querySelector('.modal-body').innerHTML = html;
                });
            }
        });
    });
    </script>
{% endblock %}