{% extends 'layouts/login_base.html' %}
{% load static %}
{% block titulo %}Iniciar Sesión{% endblock %}

{% block content %}

    <div class="container-fluid d-flex flex-column h-100">
        <div class="container-fluid mt-4">
            <h3 id="IniciarS" class="text-center fs-1">Iniciar Sesión</h3>
        </div>
        <div class="container-fluid d-flex flex-column align-items-center my-4">
            <i class="fa-regular fa-circle-user fa-10x text-black"></i>
        </div>
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %} 
                {{ form.as_div }}
                <div class="botonSum">
                    <button type="submit" class="btnIni">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}